services:
  backend:
    build:
      context: "./backend"
      dockerfile: "./Dockerfile.dev"
    ports:
      - "8000:80"
    volumes:
      - "./backend/outputs/:/backend/outputs/"

  frontend:
    build:
      context: "./frontend"
      dockerfile: "./Dockerfile.dev"
    ports:
      - "3000:3000"
    depends_on:
      - backend
